 body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#FAFAFA !important;
    /* Layout Properties */

}


.image-circle{
    
width: 576px;
height: 576px;
top: 30px;
right: 50px;
border: 20px solid white;
border-radius: 50%;
position: relative;
border: #FFFFFF solid 20px;
overflow: hidden;
}

.image-circle img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
display: block;
}

content
.content{
    max-width: 420px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    height: 58px;
    
}

.logo span{
    font-size: 28px;
    font-weight: 600;
    color: black;

}

.Heading{
    font-size: 50px;
    font-weight: 500;
    color: rgb(51,51,51);
}
.Heading span{
    color: #C8242F !important;
    font-weight: 700;
}

.form-control{
    height: 48px;
    border-radius: 5px;
}   
.btn-login{
    background-color: #C8242F;
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 100px;
    border: none;
}

.btn-login:hover{
    background-color: #F9A825;
}

.forget{
    font-size: 14px;
    color:blue;
    text-decoration: none;
}

.search{
    top: 32px;
left: 291px;
width: 16px;
height: 16px;

background: white 0% 0% no-repeat padding-box;
opacity: 1;
}

