#search-icon-1 {
    width: 40px;
    height: 40px;
}

.dashboard-img {
    width: 30px;
    height: 30px;
}

#main-back {
    background-color: rgba(218, 213, 213, 0);

}

.box {
    padding: 5%;
}

.box:hover {
    background: #FFF3F4;
}

.form-check-input:checked[type="radio"] {

    background-color: red;
    border-color: red;
    fill: red;
}

.form-check-input:checked[type="checkbox"] {

    background-color: red;
    border-color: red;

}

.nav-tabs .nav-link.active {
    color: red;

}

@media (min-width: 991px) {
    .sidebar-button {

        cursor: not-allowed;
        pointer-events: none;
    }
}